.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh; 
    background-color: #f4f4f4;
  }
  
  .hero-left {
    margin-top: -300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-left: 180px;
    padding-top: 0;
    line-height: 1.1;
  }
  
  .hero-left h2 {
    color: #090909;
    font-size: 43px;
    font-weight: bold;
  }
  
  .hero-left p {
    color: #171717;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .hero-right {
    transform: scale(0.85); /*Adjusts height of man */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
  }
